<!DOCTYPE html>
<html lang="pt-BR" data-ng-app="app" ng-strict-di ng-controller="AppCtrl">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <meta charset="utf-8"/>
        <title ncy-breadcrumb-text="{{ncyBreadcrumbChain}} | Studeo Unicesumar" ncy-breadcrumb-text-separator=" &gt; ">Studeo Unicesumar | Ambiente Virtual de Aprendizagem</title>
        <meta name="description" content="Conheça o Studeo Unicesumar. Seu ambiente virtual de aprendizagem. A Unicesumar - Centro Universitário Cesumar investe na melhoria da qualidade do ensino, sempre atenta às necessidades e anseios da região.">
        <meta name="keywords" content="studeo unicesumar, nova ava, ava, ambiente virtual de aprendizagem, área do aluno">
        <meta name="author" content="Unicesumar"/>
        <meta name="robots" content="index, follow">
        <meta property="fb:app_id" content="377112039380671">
        <meta property="og:site_name" content="Studeo Unicesumar"/>
        <meta property="og:url" content="https://studeo.unicesumar.edu.br/"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Login - Studeo Unicesumar | Ambiente Virtual de Aprendizagem"/>
        <meta property="og:description" content="Conheça o Studeo Unicesumar. Seu ambiente virtual de aprendizagem. A Unicesumar - Centro Universitário Cesumar investe na melhoria da qualidade do ensino, sempre atenta às necessidades e anseios da região."/>
        <meta property="og:image" content="https://studeostatic.unicesumar.edu.br/img/unicesumar-studeo-og-imagem-facebook.jpg">
        <meta property="og:image:url" content="https://studeostatic.unicesumar.edu.br/img/unicesumar-studeo-og-imagem-facebook.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="800">
        <meta property="og:image:height" content="600">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes"/>
        <link rel="manifest" href="manifest.14fddf29.json">
        <meta name="google" value="notranslate">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="theme-color" content="#00dbf2">
        <style ng-if="false">
            html {
                height: 100%
            }

            body {
                height: 100%;
                background-color: #fafafa
            }

            .da39a3ee5e6 {
                border: 4px solid #dfdfdf;
                border-top: 4px solid #3498db;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                animation: ahbesowfc .7s linear infinite;
                margin: auto;
                margin-top: 100px
            }

            @keyframes ahbesowfc {
                0% {
                    transform: rotate(0)
                }

                100% {
                    transform: rotate(360deg)
                }
            }

            .ng-cloak {
                display: none!important
            }
        </style>
        <script src="//cdn1.readspeaker.com/script/11962/webReader/webReader.js?pids=wr&dload=DocReader.AutoAdd" type="text/javascript"></script>
    </head>
    <body class="fixed-header" ng-class="{ 'menu-pin' : app.layout.menuPin, 'menu-behind' : app.layout.menuBehind, 'access-as': isAccessAs() }" walkthrough wt-start="wtStart" wt-next="wtNext" wt-prev="wtPrev" wt-cancel="wtCancel" wt-active="wtActive">
        <div class="full-height ng-cloak" ui-view></div>
        <div class="da39a3ee5e6" ng-if="false"></div>
        <script type="text/javascript">
            window.rsConf = {
                general: {
                    usePost: !0,
                    forceLoadCoreWait: !0
                }
            },
            window.onload = function() {
                function e(e) {
                    var t = document.createElement("link");
                    t.rel = "stylesheet",
                    t.href = e,
                    document.head.appendChild(t)
                }
                function t(e, t) {
                    var a = document.createElement("script");
                    a.type = "text/javascript",
                    a.async = !1,
                    a.defer = !1,
                    a.src = e,
                    t && a.addEventListener("load", t, !1),
                    document.body.appendChild(a)
                }
                var a, n, o, s, c, r;
                e("bundle/css/bundle.min.7a9b3a45.css?time=" + Math.floor(Date.now() / 1e3)),
                -1 != navigator.appVersion.indexOf("Windows NT 6.2") && e("br/edu/unicesumar/web-angular-layout/src/pages/css/windows.chrome.fix.38e75150.css?time=" + Math.floor(Date.now() / 1e3)),
                t("https://studeostatic.unicesumar.edu.br/code/mathjax-2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured", function() {
                    t("bundle/bundle.min.059482ce.js?time=" + Math.floor(Date.now() / 1e3))
                }),
                t("https://studeostatic.unicesumar.edu.br/code/ckeditor/ckeditor.js", function() {}),
                a = window,
                n = document,
                o = "script",
                s = "ga",
                a.GoogleAnalyticsObject = s,
                a.ga = a.ga || function() {
                    (a.ga.q = a.ga.q || []).push(arguments)
                }
                ,
                a.ga.l = 1 * new Date,
                c = n.createElement(o),
                r = n.getElementsByTagName(o)[0],
                c.async = 1,
                c.src = "https://www.google-analytics.com/analytics.js",
                r.parentNode.insertBefore(c, r),
                ga("create", "UA-10863773-23", "auto"),
                function(e, t, a, n, o) {
                    e[n] = e[n] || [],
                    e[n].push({
                        "gtm.start": (new Date).getTime(),
                        event: "gtm.js"
                    });
                    var s = t.getElementsByTagName(a)[0]
                      , c = t.createElement(a);
                    c.async = !0,
                    c.src = "https://www.googletagmanager.com/gtm.js?id=GTM-KZW3C4H",
                    s.parentNode.insertBefore(c, s)
                }(window, document, "script", "dataLayer")
            }
        </script>
        <link rel="stylesheet" href="https://cdn.privacytools.com.br/public_api/banner/style/YAvl11014111.css?t=1">
        <script type="text/javascript" src="https://cdn.privacytools.com.br/public_api/banner/script/bottom/YAvl11014111.js?t=1"></script>
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZW3C4H" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    </body>
</html>
